/* -------------------------------------------------------------------------------------------------- */
/*-------------------------------------------- Table Header --------------------------------------------*/
/*-------------------------------------------- Table Header --------------------------------------------*/
/*-------------------------------------------- Table Header --------------------------------------------*/
/* -------------------------------------------------------------------------------------------------- */

.rcheadermotherdiv {
    height: 70px;
    background-color: #0D1026;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 9px;
    border-left: 4px solid brown;
    border-right: 4px solid brown
}

.headernesteddiv1p2 {
    margin-top: 10px;
}

.headernesteddiv2 {
    padding-right: 10px;
}


/* -------------------------------------------------------------------------------------------------- */
/*----------------------------------------- Right Container Cards ----------------------------------------*/
/*----------------------------------------- Right Container Cards ----------------------------------------*/
/*----------------------------------------- Right Container Cards ----------------------------------------*/
/* -------------------------------------------------------------------------------------------------- */



.rccardsmotherdiv {
    height: 80px;
    display: flex;
    background-color: #0D1026;
    justify-content: space-between;
    margin-top: 6px;
    margin-bottom: 6px;
    border-left: 4px solid green;
    border-right: 4px solid green
}

.cardsnesteddiv1 {
    display: flex;
    flex-direction: column;
    margin-top: 10px
}

.cardsnesteddiv1nesteddiv1 {
    display: flex;

}

.nesteddiv1nesteddiv1p1 {
    margin-left: 10px;

}

.nesteddiv1nesteddiv1p2 {
    margin-left: 10px;
    font-size: 15px;

}

.nesteddiv1nesteddiv2 {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    justify-content: space-between;

}

.nesteddiv2 {
    margin-top: 10px;
    margin-right: 5px;
}

.cardsbutton {
    width: 20px;
    background-color: #1B1C3A;
    border: none;
    padding: 0px;

}

/* -------------------------------------------------------------------------------------------------- */
/*-------------------------------------------- Table Data --------------------------------------------*/
/*-------------------------------------------- Table Data --------------------------------------------*/
/*-------------------------------------------- Table Data --------------------------------------------*/
/* -------------------------------------------------------------------------------------------------- */

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
    background-color: #151732;
}

td {
    font-size: small;
    padding-top: 6px;
    padding-left: 6px;
    padding-bottom: 6px;
    /* padding: 10px; */
    text-align: center;
    margin-left: 3px;
}

tr {
    background-color: #0D1026;
    text-align: center;
    margin-left: 2px;
}

.table-div {
    margin-top: 24px;
}

.table-heading {
    background-color: #060A17;
}