/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------- CardContainer.jsx styles -------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */




/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------- SimpleCards styles -------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */

.simplecardmotherdiv {
    display: flex;
    /* align-content: space-between;
    flex-direction: column; */
    justify-content: space-between;
    width: 24%;
    height: 135px;
    margin: 4px;
    border-radius: 3%;
}

.nesteddiv1 {
    padding: 8px;
}

.para2 {
    margin-top: 70px;
}


.simplecardpaper:hover {
    background-color: #467e94;
}

.linkStyles{
    margin-top: 6px;
    margin-right: 6px;
}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------- UpDownCards styles -------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


.updownmotherdiv {
    width: 241px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 2px;
    border-radius: 5px;
}

.nesteddiv1 {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.nesteddiv2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 5px;

}